
<div class="container">

  <%= link_to "About the web", about_topics_path, :class => "btn btn-primary" %>
  <%= link_to "Profile", profile_users_path, :class => "btn btn-primary" %><br>
  <%= link_to "Newest comments", topics_path( last: :latest ), :class => "btn btn-primary" %>
  <%= link_to "Most comments", topics_path( order: :comments_count ), :class => "btn btn-primary" %>
  <%= link_to "Create", new_topic_path, :class => "btn btn-warning" %>



  <%= paginate @topics %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>分類</th>
          <th>作者</th>
          <th>標題</th>
          <th>評論回覆數</th>
        </tr>
      </thead>

    <%= form_tag topics_path, method: :get do %> <!-- form_tag 是一個表單，select_tag是表單裡裡面的內容，單一的內容，submit就是select_tag裡面的onchang，點了就會送出去。 -->
     <%= select_tag "category", options_from_collection_for_select(Category.all, "id", "title", params[:category]), onchange: 'this.form.submit()', prompt: "ALL" %>
    <% end %>

      <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td>
            <% topic.categories.each do |title| %>
              <%= title.title %><br>
            <% end %>
          </td>

          <td>
            <%= topic.user.email %>
          </td>

          <td>
            <%= link_to topic.name, topic_path(topic) %>
          </td>

          <td>
            <%= topic.comments.count %>
          </td>

          <% if current_user == topic.user && current_user %>

            <td>
              <%= link_to "Edit", edit_topic_path(topic), :class => "btn btn-info" %>
            </td>

            <td>
              <%= link_to "Del", topic_path(topic),method: :delete, :class => "btn btn-danger" %>
            </td>

          <% else %>

            <td></td>
            <td></td>

          <% end %>
        </tr>
        <% end %>
      </tbody>

    </table>

</div>
